<!DOCTYPE html>
<html>
  <head>
    <title>To Do: Your Life, One Meaningless Task at a Time</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" charset="utf-8">
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">To Do: Your Life, One Meaningless Task at a Time</a>
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
